In [8]:
# comment
# 10

In [9]:
1 + 1

2

In [10]:
1 - 3

-2

In [11]:
2 * 3

6

In [12]:
1//2

0

In [13]:
1/2

0.5

In [14]:
2**4

16

In [15]:
4%2

0

In [16]:
5/2

2.5

In [18]:
5%2

1

2+3 * 5+5

In [19]:
2+3 * 5+5

22

In [20]:
name_of_var = 2

In [21]:
x = 1

In [22]:
y = 2

In [23]:
x + y

3

In [24]:
z = x+y

In [25]:
z

3

In [26]:
'single'

'single'

In [27]:
"double"

'double'

In [28]:
" I don't care "

" I don't care "

In [29]:
x = 'hello'

In [30]:
print(x)

hello

In [31]:
print("DOULE")

DOULE

In [32]:
name = "David Teixé"

In [33]:
print("Hello my name is {}".format(name))

Hello my name is David Teixé

In [34]:
number = 12

In [35]:
print("Hy my name is {} and my number is {}".format(name, number))

Hy my name is David Teixé and my number is 12

In [37]:
print("Hy my name is {x} and my number is {y}".format(x=name, y=number))

Hy my name is David Teixé and my number is 12

In [39]:
# LIST 
[1,2,3]

[1, 2, 3]

In [40]:
["Hi", 0, 1]

['Hi', 0, 1]

In [41]:
my_list = [1,2,3]

In [42]:
my_list.append(4)

In [43]:
my_list

[1, 2, 3, 4]

In [44]:
my_list = ['a','b','c','d']

In [45]:
my_list

['a', 'b', 'c', 'd']

In [46]:
my_list[0]

'a'

In [47]:
my_list[3]

'd'

In [49]:
my_list[-2]

'c'

In [50]:
my_list[0:2]

['a', 'b']

In [51]:
my_list[:2]

['a', 'b']

In [52]:
my_list[2:]

['c', 'd']

In [53]:
nested = [1,2,['a','b']]

In [54]:
nested

[1, 2, ['a', 'b']]

In [55]:
nested[2][0]

'a'

In [56]:
d = {'key':10,'key2':'seconditem'}

In [57]:
d

{'key': 10, 'key2': 'seconditem'}

In [58]:
d['key']

10

In [59]:
True

True

In [60]:
False

False

In [61]:
t = (1,2,3)

In [62]:
t

(1, 2, 3)

In [63]:
t[0]

1

In [64]:
my_list = [1,2,3]

In [65]:
my_list[0]

1

In [66]:
my_list[0] = "NEW"

In [67]:
my_list

['NEW', 2, 3]

In [68]:
t[0] = 3

TypeError: 'tuple' object does not support item assignment

In [69]:
clear

In [70]:
# Set

In [72]:
{1,2,3,3}

{1, 2, 3}

In [73]:
{1,2,2,2,2,2,2,1,1,1,1,2,2,2,2,2}

{1, 2}

In [74]:
a = [1,1,1,1,2,2,2,3,3,3,3]

In [75]:
c = set(a)

In [76]:
c

{1, 2, 3}

In [77]:
import math

In [78]:
math.

SyntaxError: invalid syntax (<ipython-input-78-6994845579ab>, line 1)

In [79]:
math.inf

inf

In [80]:
math.inf

inf

In [81]:
inf

NameError: name 'inf' is not defined

In [82]:
math.sqrt(10)

3.1622776601683795

In [83]:
x

'hello'

In [84]:
x[0]

'h'

In [85]:
x[:3]

'hel'

In [86]:
1 < 2

True

In [87]:
1 > 2

False

In [88]:
1 >= 2

False

In [89]:
1 == 1

True

In [92]:
1 != 3

True

In [93]:
'string' == 'string'

True

In [94]:
1 == '1'

False

In [95]:
# Logic operatos

In [96]:
(1 == 2) and (1 == 1)

False